@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.row{
  margin-top: 1% !important;
  display: flex !important;
  justify-content: space-between !important;
  width:100% !important;
}
.main .sidebarWrapper{
  width:250px;
  flex:0 0 20%;
  transform: 0.3sec ease out;
}

.main .sidebarWrapper .sidebar{
  width:20%;
 

  height: 90vh;
  position: absolute;
  top:10%;
  left:0px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 5%;}
  .content{
    margin-left:22% !important;
    position: absolute;
    top:12% !important;
    width:78% !important;
  }

  .table thead th{
    font-size: 20px !important;
  }
  .table td{
    font-size: 18px !important;
    font-weight: 500 !important;
    color:grey!important;
    padding: 35px !important;
  }
  .table tr{
    border:none !important;
  }